html {
  scroll-behavior: smooth;
}

.list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
}

p {
  font-size: 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px 0;
  gap: 24px;
}

.gallery-item {
  list-style-type: none;
  flex-basis: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.9s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.simple-lightbox img {
  border-radius: 8px;
}

.container {
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 8px;
}

label {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  outline: none;
}

textarea {
  outline: none;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
}
